{% extends 'base.html.twig' %} {% block navbar %} {% endblock %} {% block body %}
<div class="row">
  <div id="main" class="d-block mx-auto align-items-center">
    <div class="card text-white border-dark">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-4 text-center">Hi {{ name }}</h1>
            <p class="text-center">What do you want to do?</p>
          </div>
        </div>
        <div class="row">
          
          <div class="col-lg-12">
            <div class="btn-group btn-group-lg d-flex" role="group">
              <a href="{{ path("show_lang", {"lang": "pl"}) }}" class="btn btn-secondary w-100">Learn in polish</a>
              <a href="{{ path("show_lang", {"lang": "en"}) }}" class="btn btn-secondary w-100">Learn in english</a>
            </div>
          </div>
        </div>
        <div style="margin-top:2px;" class="row">
        <div class="col-lg-12">
          <div class="btn-group btn-group-lg d-flex" role="group">
            <a href="{{ path("show_add_word") }}" class="btn btn-secondary w-100">Insert additional words</a>
            <a href="" class="btn btn-secondary w-100">Modify stored words</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ dump() }} {% endblock %}